
.ghe {
    margin: 15;
    border: none;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: gray;
    color: #fff;
    cursor: pointer;
    margin: 15px;
}
.ghe-da-dat {
    cursor: no-drop;
    background-color: red !important;
    color: #fff;
}

.ghe-vip {
    border: 5px solid orange;
}
[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }

  h3 {
    color: #fff;
    margin-bottom: 0;
  }